.navigation {
    list-style-type: none;
    margin-top: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255,255,255);
    border-bottom: 1px solid rgb(210,210,210);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    max-height: 50px;
    height: 50px;
}

ul {
  padding: 0;
  margin: 0;
}

.li_nav {
    float: left;
}

.li_nav_right {
    float: right;
}

.li_a_nav {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: BoldFont;
    font-weight: bold;
    color: rgb(50,50,50);
    font-size: medium;
    transition: all 0.1s ease-out;
    margin: 10%;
    height: 80%;
    line-height: 80%;
}

.last_btn{
    margin-right: 30px;
}

.img_nav{
    height: 40px;
}

.li_a_nav:hover {
    transform: scale(1.05);
}

.li_a_nav:active {
    transform: scale(0.90);
}

.search {
    outline: none;
    border: none;
    color: rgb(50,50,50);
    width: 90%;
    height: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1px;
    font-family: RegularFont;
    background-color: rgb(250,250,250);
}

.search_div {
    border: 1px solid rgb(210,210,210);
    width: 100%;
    height: 26px;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: auto;
    margin-right: auto;
    float: center;
    border-radius: 2px;
    background-color: rgb(250,250,250);
}

.left_block{
    width: 300px;
    height: 400px;
    position: fixed;
    float: left;
}

.menu_block {
    width: 300px;
    border-radius: 2px;
    border: 1px solid rgb(210,210,210);
    background-color: rgb(255,255,255);
}

.menu_block1 {
    margin-bottom: 18px;
}

.menu_block2 {
    height: 70px;
    margin-bottom: 18px;
}

.menu_section {
    width: 100%;
    height: 50px;
    font-family: RegularFont;
    line-height: 50px;
    text-align: center;
    color: rgb(50,50,50);
    font-size: large;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.menu_section:hover {
    background-color: rgb(250,250,250);
    cursor: pointer;
}

.menu_section:active {
    background-color: rgb(210,210,210);
    cursor: pointer;
}

.center_block {
    margin-left: 300px;
    width: 800px;
    min-width: 400px;
    max-width: 800px;
}

.content_block {
    width: 1100px;
    height: 1000px;
    margin-top: 67px;
    margin-left: auto;
    margin-right: auto;
    max-width: 99%;
}

.logo{
    float: left;
    font-family: BlackFont;
    text-align: left;
    color: rgb(50,50,50);
    font-size: x-large;
    height: 50px;
    line-height: 50px;
    display: block;
    width: 15%;
    padding-left: 1px;
    background-color: rgb(0,0,255)
    display: inline-block;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.nav_block {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    background-color: rgb(0,255,0)
    white-space: nowrap;
}

.search_block {
    float: left;
    height: 100%;
    width: 20%;
    display: inline-block;
    margin-left: 153px;
}

.nav_buttons {
    float: right;
    font-family: RegularFont;
    text-align: center;
    color: rgb(50,50,50);
    font-size: large;
    height: 50px;
    line-height: 50px;
    display: block;
    padding-left: 1px;
    display: inline-block;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.nav_buttons:hover {
    background-color: rgb(250,250,250);
    cursor: pointer;
}

.nav_buttons:active {
    background-color: rgb(210,210,210);
    cursor: pointer;
}

.nav_button1 {
    width: 80px;
    margin-right: 20px;
}

.nav_button2 {
    width: 140px;
}

.my_page {
    width: 100%;
    height: 100%;
    padding-top: 14px;
    padding-left: 14px;
}

.menu_block2:hover {
    background-color: rgb(250,250,250);
    cursor: pointer;
}

.menu_block2:active {
    background-color: rgb(210,210,210);
    cursor: pointer;
}

.logo:hover {
    color: rgb(100,100,100);
    cursor: pointer;
}

.logo:active {
    color: rgb(210,210,210);
    cursor: pointer;
}

.margin_top {
    margin-top: 5px;
}
