@font-face {
    font-family: BoldFont;
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: LightFont;
    src: url(../fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: RegularFont;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: BlackFont;
    src: url(../fonts/Roboto/Roboto-Black.ttf);
}

.meme_block {
    background-color: rgb(255,255,255);
    border: 0px solid #646464;
    border-radius: 2px;
    padding: 0px;
    width: 95%;
    margin: 0 auto;
    border: 1px solid rgb(210,210,210);
    padding-bottom: 0px;
    margin-bottom: 17px;
    min-width: 400px;
    max-width: 800px;
}

.meme_img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-bottom: 0px;
    border-top: 1px solid rgb(210,210,210);
    border-bottom: 1px solid rgb(210,210,210);
}

.author{
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.author_img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    float:left;
    display: inline-block;
    border-radius: 40px;
}

.author_name {
    float: center;
    text-align: left;
    display: inline-block;
    line-height: 40px;
    width: 50%;
    text-indent: 5px;
    font-weight: bold;
    color: rgb(50,50,50);
    padding: 0px;
    font-size: medium;
    font-family: BoldFont;
}

.meme_date {
    float:right;
    text-align: right;
    display: inline-block;
    line-height: 12px;
    width: 15%;
    text-indent: 0px;
    font-family: LightFont;
    color: rgb(210,210,210);
    padding: 0px;
    font-size: small;
    vertical-align: top;
}

.note{
    font-size: medium;
    text-align: left;
    display: inline-block;
    width: 95%;
    font-family: LightFont;
    color: rgb(50,50,50);
    padding-top: 0;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.like_btn{
    float: left;
    width: 30px;
    height: 30px;
    margin-left: 2px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 5px;
    transition: all 0.1s ease-out;
}

.like_btn:hover {
    transform: scale(1.05);
}

.like_btn:active {
    transform: scale(0.90);
}

.repost_btn{
    float: left;
    width: 30px;
    height: 30px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 5px;
    transition: all 0.1s ease-out;
}

.repost_btn:hover {
    transform: scale(1.05);
}

.repost_btn:active {
    transform: scale(0.90);
}

.bg_style{
    background-color: rgb(250,250,250);
}

a {
    text-decoration: none;
    color: rgb(50,50,50);
}

.likes_block {
    height: 30px;
    width: 100%;
    margin-top: 3px;
    margin-bottom: 5px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.lr_number{
    height: 30px;
    float: left;
    line-height: 30px;
    margin-left: 3px;
    margin-right: 10px;
    font-family: RegularFont;
    color: rgb(50,50,50);
    font-size: medium;
    padding-top: 1px;
}

.place {
    text-align: center;
    width: 100%;
    font-family: BoldFont;
    font-weight: bold;
    color: rgb(50,50,50);
    font-size: medium;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(210,210,210);
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.delete_btn {
    text-align: right;
    font-family: RegularFont;
    color: rgb(50,50,50);
    font-size: medium;
    float: right;
    line-height: 30px;
    padding-top: 1px;
    padding-right: 10px;
    transition: all 0.1s ease-out;
    cursor: default;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.delete_btn:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.delete_btn:active {
    transform: scale(0.90);
}

.auth_note {
    text-align: left;
    font-family: RegularFont;
    color: rgb(50,50,50);
    font-size: medium;
    line-height: 30px;
    padding-top: 1px;
    padding-left: 10px;
    cursor: default;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.auth_note_button {
    font-family: BoldFont;
}

.category {
    text-align: left;
    font-family: BoldFont;
    color: rgb(210,210,210);
    font-size: medium;
    line-height: 30px;
    padding-top: 1px;
    padding-left: 10px;
    cursor: default;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.load_button {
    height: 50px;
    font-family: RegularFont;
    line-height: 50px;
    text-align: center;
    color: rgb(50,50,50);
    font-size: large;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.load_button:hover {
    background-color: rgb(250,250,250);
    cursor: pointer;
}

.load_button:active {
    background-color: rgb(210,210,210);
    cursor: pointer;
}
