.auth_note_reg_log {
    height: 33px;
    font-family: BoldFont;
    line-height: 50px;
    text-align: center;
    color: rgb(50,50,50);
    font-size: large;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.label_note {
    height: 29px;
    line-height: 29px;
    margin-bottom: 1px;
    margin-right: 10px;
    font-family: RegularFont;
    text-align: right;
    color: rgb(50,50,50);
    font-size: medium;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    float: left;
    width: 200px;
}

.error_note {
    height: 30px;
    line-height: 30px;
    font-family: RegularFont;
    text-align: center;
    color: rgb(220,80,80);
    margin-left: 212px;
    font-size: medium;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    float: left;
}

.search_div_n {
    border: 1px solid rgb(210,210,210);
    width: 100%;
    height: 26px;
    margin-left: auto;
    margin-right: auto;
    float: center;
    border-radius: 2px;
    background-color: rgb(250,250,250);
}

.search_div_div {
    width: 40%;
    height: 30px;
    float: left;
}

.input_block {
    margin-left: 8%;
    height: 30px;
}

.input_block2 {
    height: 30px;
    white-space: nowrap;
    margin-left: 39.5%;
}

.remember_button {
    height: 30px;
    float: left;
    margin-right: 5px;
    display: inline-block;
    margin-top: 6px;
}

.remember_note {
    display: inline-block;
    width: 50px;
}

.fixed_block {
    position: fixed;
    margin-left: 18px;
    width: 760px;
}

.login_button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;

    border: 1px solid rgb(210,210,210);
    border-radius: 2px;
    height: 30px;
    width: 285px;
    font-family: RegularFont;
    text-align: center;
    color: rgb(50,50,50);
    font-size: medium;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    margin-left: 31%;
    outline: none;
}

.login_button:hover {
    background-color: rgb(250,250,250);
}

.login_button:active {
    background-color: rgb(210,210,210);
}

.file_upload {
    font-family: RegularFont;
}