<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="../../static/css/main_css.css">
        <link rel="stylesheet" type="text/css" href="../../static/css/base_css.css">
        <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
        <title>MemeHub</title>
    </head>
    <body class="bg_style">
        <ul class="navigation">
            <li class="li_nav">
                <a class="active li_a_nav" href="#main_page">
                    <img class="li_a_nav img_nav" href="#home" src="../../static/img/img1.jpg">
                </a>
            </li>
            <li class="li_nav"><a class="active li_a_nav" href="#main_page">Главная</a></li>
            <li class="li_nav"><a class="li_a_nav" href="#search_page">Поиск</a></li>
            <li class="li_nav"><a class="li_a_nav" href="#top_memes_page">Топ мемов</a></li>
            <li class="li_nav"><a class="li_a_nav" href="#top_users_page">Топ пользователей</a></li>
            {%  if current_user.is_authenticated %}
                <li class="li_nav_right"><a class="li_a_nav" href="#me">
                    {{ current_user.name }} {{ current_user.surname }}</a></li>
            {% else %}
                <li class="li_nav_right_btn"><a class="btn btn-outline-success" href="#register">Регистрация</a></li>
                <li class="li_nav_right_btn"><a class="btn btn-outline-primary" href="#login">Вход</a></li>
            {% endif %}

            <!--
            <li class="button"><a class="btn btn-outline-primary" href="#login_page">Вход</a></li>
            <li class="button"><a class="btn btn-outline-success" href="#register_page">Регистрация</a></li>
            -->
        </ul>
        <div class="empty"></div>
        {% block content %}{% endblock %}
    </body>
</html>