<!doctype html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="../../static/css/main_css.css">
        <link rel="stylesheet" type="text/css" href="../../static/css/base_css.css">
        <link rel="stylesheet" type="text/css" href="../../static/css/reg_log_css.css">
        <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
        <title>{{ title }}</title>
    </head>
    <body class="bg_style">
        <div class="navigation">
            <div class="nav_block">
                <div class="logo">MemeHub</div>
                <div class="search_block">
                    <div class="search_div">
                        <input class="search" placeholder="Поиск" onkeypress="return SearchEnter(event)" id="search">
                    </div>
                </div>
                {% if data['info']['is_auth'] %}
                    <a class="nav_buttons nav_button1" href="/logout">Выйти</a>
                {% else %}
                    <a class="nav_buttons nav_button1" href="/login">Войти</a>
                    <a class="nav_buttons nav_button2" href="/register">Регистрация</a>
                {% endif %}
            </div>
        </div>
        <div class="content_block">
            <div class="left_block">
                {% if data['info']['is_auth'] %}
                    <div class="menu_block menu_block2">
                        <div class="my_page" onClick="window.location='/author/{{ data['info']['username'] }}'">
                            <div class="test">
                                <a><img src="{{ data['info']['user_img'] }}" class="author_img"></a>
                                <div class="author_name"><a>{{ data['info']['username'] }}</a></div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="menu_block menu_block1">
                    <div class="menu_section" onClick="window.location='/'">Главная</div>
                    {% if data['info']['is_auth'] %}
                        <div class="menu_section" onClick="window.location='/author/{{ data['info']['username'] }}'">Моя страница</div>
                    {% endif %}
                    <div class="menu_section" onClick="window.location='/top_memes'">Топ мемов</div>
                    <div class="menu_section" onClick="window.location='/top_users'">Топ пользователей</div>
                </div>
            </div>
            <div class="center_block">
                {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>

<script>
    function SearchEnter(e) {
    if (e.keyCode == 13) {
        var tb = document.getElementById("search").value;
        tb = tb.trim();
        if (tb) {
            window.location='/search/' + tb;
        }
        return false;
    }
    }
</script>
