{% extends "base.html" %}

{% block content %}
<div class="meme_block">
    {% for feedback in data['content'] %}
        <div id="{{ feedback['title'] }}">
            <div class="author feedback_author">
                <div class="test">
                    <a href="/author/{{ feedback['sender']['id'] }}">
                        <img class="author_img" src="{{ feedback['sender']['user_img'] }}">
                    </a>
                    <div class="author_name">
                        <a href="/author/{{ feedback['sender']['id'] }}">{{ feedback['sender']['alias'] }}</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="feedback_block">
            <div class="feedback_title">Тема</div>
            <div class="feedback_note">{{ feedback['subject'] }}</div>
            <div class="feedback_br"></div>
            <div class="feedback_title">Дата</div>
            <div class="feedback_note">{{ feedback['title'][:10] }}</div>
            <div class="feedback_br"></div>
            <div class="feedback_title">Содержание</div>
            <div class="feedback_note">{{ feedback['data'] }}</div>
            <div class="feedback_br2"></div>
        </div>

        <div class="pub_btn_grp feedback_btn">
            <div class="pub_choose_btn"  onclick="solved('{{ feedback['title'] }}')">Решено</div>
        </div>
    {% endfor %}
</div>


{% endblock %}

{% block scripts %}

    <script>
        function solved(elem_id) {
            document.getElementById(elem_id).remove();
            post('/post', `{"type": "checked_feedback", "target": "${elem_id}"}`);
        }
    </script>

{% endblock %}
