{% extends "base.html" %}

{% block content %}

<div class="meme_block fixed_block">
    <div class="publish_block">
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}

            <div class="pub_head">Обратная связь</div>

            <div class="pub_notes">Тема</div>
            <div class="pub_input_div">
                {{ form.subject(class="pub_input") }}
            </div>
            {% for error in form.subject.errors %}
                <div class="pub_error_note">{{ error }}</div>
            {% endfor %}

            <div class="pub_notes">Содержание</div>
            <div class="pub_input_div">
                {{ form.data(rows=5, autocomplete="off", maxlength=80, class="pub_input") }}
            </div>
            {% for error in form.data.errors %}
                <div class="pub_error_note">{{ error }}</div>
            {% endfor %}

            <div class="pub_btn_grp">
                <div class="pub_choose_btn" onclick="document.getElementById('submit').click();">Отправить</div>
            </div>
            {{ form.submit(type="submit", class="login_button", style="display: none;", id="submit") }}
        </form>
    </div>
</div>


{% endblock %}
