{% extends "base.html" %}

{% block content %}

<div class="meme_block fixed_block">
    <div class="publish_block">
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}

            <div class="pub_head">Авторизация</div>

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="pub_error_note">{{ messages[-1] }}</div>
                {% endif %}
            {% endwith %}

            <div class="pub_notes">E-mail</div>
            <div class="pub_input_div">
                {{ form.email(rows=5, autocomplete="off", maxlength=80, class="pub_input") }}
            </div>
            {% for error in form.email.errors %}
                <div class="pub_error_note">{{ error }}</div>
            {% endfor %}

            <div class="pub_notes">Пароль</div>
            <div class="pub_input_div">
                {{ form.password(rows=5, autocomplete="off", maxlength=80, class="pub_input") }}
            </div>
            {% for error in form.password.errors %}
                <div class="pub_error_note">{{ error }}</div>
            {% endfor %}

            <div class="r_btn_grp">
                {{ form.remember_me(class="pub_r_btn") }}
                <div class="r_btn_note">Запомнить меня</div>
            </div>

            <div class="pub_btn_grp">
                <div class="pub_choose_btn" onclick="document.getElementById('publish-submit').click();">Войти</div>
            </div>
            {{ form.submit(type="submit", class="login_button", style="display: none;", id="publish-submit") }}
        </form>
    </div>
</div>


{% endblock %}
