{% extends "base.html" %}

{% block content %}

<div class="meme_block fixed_block">
    <div class="auth_note_reg_log">Авторизация</div>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            <div class="input_block">
                <div class="label_note">
                    {{ form.email.label }}
                </div>
                <div class="search_div_div">
                    <div class="search_div_n">
                        {{ form.email(class="search") }}
                    </div>
                </div>
            </div>
                {% for error in form.email.errors %}
                    <div class="input_block">
                        <div class="error_note">
                            {{ error }}
                        </div>
                    </div>
                {% endfor %}
        </p>
        <p>
            <div class="input_block">
                <div class="label_note">
                    {{ form.password.label }}
                </div>
                <div class="search_div_div">
                    <div class="search_div_n">
                        {{ form.password(class="search") }}
                    </div>
                </div>
            </div>
                {% for error in form.password.errors %}
                    <div class="input_block">
                        <div class="error_note">
                            {{ error }}
                        </div>
                    </div>
                {% endfor %}
        </p>
        <p>
            <div class="input_block2">
                <div class="remember_button">
                    {{ form.remember_me() }}
                </div>
                <div class="label_note remember_note">
                    {{ form.remember_me.label }}
                </div>
            </div>
        </p>
        <p>{{ form.submit(type="submit", class="login_button") }}</p>
    </form>
</div>

{% endblock %}
