{% extends "base.html" %}

{% block content %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

       <div class="container">
        <h1>Добавить мем</h1>
        <form method="post" novalidate enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <p>
                {{ form.title.label }}<br>
                {{ form.title(class="form-control") }}<br>
                {% for error in form.title.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </p>
            <p>
                <label>#Теги</label> <br>
                <select class="selectpicker" multiple="multiple" data-live-search="true" id="tags" name="tags" required>
                    {% for id, title in tags %}
                        <option value={{ id }}>{{ title }}</option>
                    {% endfor %}
                </select> <br>
                <script>
                    var verified = [];
                    document.querySelector('tags').onchange = function(e) {
                        if (this.querySelectorAll('option:checked').length <= 5) {
                            verified = Array.apply(null, this.querySelectorAll('option:checked'));
                        } else {
                            Array.apply(null, this.querySelectorAll('option')).forEach(function(e) {
                            e.selected = verified.indexOf(e) > -1;
                            });
                        }
                    }
                </script>
            </p>

            <p>
                {{ form.picture.label }}
                {{ form.picture(class="input-group mb-3") }}
                {% for error in form.picture.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div> <br>
                {% endfor %}
            </p>

            <p>{{ form.submit(type="submit", class="btn btn-outline-primary") }}</p>

        </form>
    </div>

{% endblock %}