{% block content %}
        <!--
        <link rel="stylesheet" href="../../static/css/multiselect.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
        -->

       <div class="meme_block">
        <div class="publish_block">
            <form method="post" novalidate enctype="multipart/form-data" onkeydown="return event.key != 'Enter';" onsubmit="validate()">
                {{ form2.hidden_tag() }}
                <div class="pub_head">Новая публикация</div>
                <div class="pub_notes">Комментарий</div>
                <div class="pub_input_div">
                    {{ form2.note(rows=5, autocomplete="off", maxlength=80, class="pub_input") }}
                </div>
                <div class="pub_notes">Теги</div>
                {{ form2.tags(autocomplete="off", id="tags_input", style="display: none;") }}
                <div class="pub_tags">
                    {% for tag in data['user_page']['tags'] %}
                        <div class="pub_tag" id="tag_{{ tag }}" onclick="click_tag('tag_{{ tag }}');">{{ tag }}</div>
                    {% endfor %}
                </div>
                <div class="pub_btn_grp">
                    <div class="pub_choose_btn" onclick="document.getElementById('input_meme').click();">Выберете файл</div>
                    <div id="div_meme" class="pub_choose_txt"></div>
                </div>
                <img id="img_meme" src="" class="pub_img_preview" alt="Ошибка файла" />
                <div class="pub_btn_grp">
                    <div class="pub_choose_btn" onclick="document.getElementById('publish-submit').click();">Опубликовать</div>
                </div>
                {{ form2.img(class="input-group mb-3", id="input_meme", onchange="preview_image(event)", style="display: none;") }}
                {{ form2.submit(type="submit", style="display: none;", id="publish-submit") }}
            </form>
        </div>
    </div>

    <!--<script>
                    var verified = [];
                    document.querySelector('tags').onchange = function(e) {
                        if (this.querySelectorAll('option:checked').length <= 5) {
                            verified = Array.apply(null, this.querySelectorAll('option:checked'));
                        } else {
                            Array.apply(null, this.querySelectorAll('option')).forEach(function(e) {
                            e.selected = verified.indexOf(e) > -1;
                            });
                        }
                    }-->

    <script>
        var tags_number = 0;
        let tags_arr = [];
        function click_tag(tag_id)
        {
            if (document.getElementById(tag_id).classList.contains('pub_pressed'))
            {
                document.getElementById(tag_id).classList.remove('pub_pressed');
                tags_number--;
                var index = tags_arr.indexOf(document.getElementById(tag_id).innerHTML);
                if (index !== -1)
                {
                    tags_arr.splice(index, 1);
                }
                create_tags();
            }
            else
            {
                if (tags_number < 5)
                {
                    document.getElementById(tag_id).classList.add('pub_pressed');
                    tags_number++;
                    tags_arr[tags_arr.length] = document.getElementById(tag_id).innerHTML;
                    create_tags();
                }
            }
        }

        function create_tags()
        {
            document.getElementById('tags_input').value = tags_arr.join(' ');
        }

        function clean_tags()
        {
            var tags_number = 0;
            let tags_arr = [];
            // location.reload();
        }
     </script>
{% endblock %}