{% extends "base.html" %}

{% block content %}
<div class="meme_block fixed_block">
    <div class="auth_note">Регистрация</div>
    <form method="post" novalidate enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
            <div class="input_block">
                <div class="label_note">
                    {{ form.email.label }}
                </div>
                <div class="search_div_div">
                    <div class="search_div_n">
                        {{ form.email(class="form-control  search") }}
                    </div>
                </div>
            </div>
            {% for error in form.email.errors %}
                <div class="input_block">
                    <div class="error_note">
                        {{ error }}
                    </div>
                </div>
            {% endfor %}
        </p>

        <p>
            <div class="input_block">
                <div class="label_note">
                    {{ form.password.label }}
                </div>
                <div class="search_div_div">
                    <div class="search_div_n">
                        {{ form.password(class="form-control search") }}
                    </div>
                </div>
            </div>
            {% for error in form.password.errors %}
                <div class="input_block">
                    <div class="error_note">
                        {{ error }}
                    </div>
                </div>
            {% endfor %}
        </p>

        <p>
            <div class="input_block">
                <div class="label_note">
                    {{ form.rep_password.label }}
                </div>
                <div class="search_div_div">
                    <div class="search_div_n">
                        {{ form.rep_password(class="form-control search") }}
                    </div>
                </div>
            </div>
            {% for error in form.rep_password.errors %}
                <div class="input_block">
                    <div class="error_note">
                        {{ error }}
                    </div>
                </div>
            {% endfor %}
        </p>

        <p>
            <div class="input_block">
                 <div class="label_note">
                     {{ form.alias.label }}
                 </div>
                <div class="search_div_div">
                    <div class="search_div_n">
                        {{ form.alias(class="form-control search") }}
                    </div>
                </div>
            </div>
            {% for error in form.alias.errors %}
                <div class="input_block">
                    <div class="error_note">
                        {{ error }}
                    </div>
                </div>
            {% endfor %}
        </p>

        <p>
            <div class="input_block">
                <div class="label_note">
                    {{ form.bdate.label }}
                </div>
                <div class="search_div_div">
                    <div class="search_div_n">
                        {{ form.bdate(class="form-control search", type="date") }}
                    </div>
                </div>
            </div>
            {% for error in form.bdate.errors %}
                <div class="input_block">
                    <div class="error_note">
                        {{ error }}
                    </div>
                </div>
            {% endfor %}
        </p>

        <p>
            <div class="input_block">
                <div class="label_note">
                    {{ form.about.label }}
                </div>
                <div class="search_div_div">
                    <div class="search_div_n">
                        {{ form.about(class="form-control search", rows=5) }}
                    </div>
                </div>
            </div>
            {% for error in form.about.errors %}
                <div class="input_block">
                    <div class="error_note">
                        {{ error }}
                    </div>
                </div>
            {% endfor %}
        </p>

        <p>
            <div class="input_block">
                <div class="label_note">
                    {{ form.avatar.label }}
                </div>
                <div class="file_upload">
                    <label>
                        {{ form.avatar(class="input-group mb-3") }}
                    </label>
                </div>
            </div>
            {% for error in form.avatar.errors %}
                <div class="input_block">
                    <div class="error_note">
                        {{ error }}
                    </div>
                </div>
            {% endfor %}
        </p>

        <p>{{ form.submit(type="submit", class="login_button") }}</p>
    </form>
</div>

{% endblock %}
