{% extends "base.html" %}

{% block content %}
    <div class="meme_block fixed_block">
        <div class="auth_note_reg_log">Добавить тег</div>
        <form method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                <div class="input_block">
                <div class="label_note">
                    {{ form.title.label }}
                </div>
                <div class="search_div_div">
                    <div class="search_div_n">
                        {{ form.title(class="search") }}
                    </div>
                </div>
            </div>
                {% for error in form.title.errors %}
                    <div class="input_block">
                        <div class="error_note">
                            {{ error }}
                        </div>
                    </div>
                {% endfor %}
            </p>

            <p>{{ form.submit(type="submit", class="login_button") }}</p>

        </form>
    </div>

{% endblock %}